@import './utils/variables';

.paiement {
  padding: 40px;
  color: $color-shadow;

  h2 {
    color: $color-title;
    margin-bottom: 20px;
  }

  .method {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    input {
      margin-right: 10px;
    }
  }

  .navigation-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    button {
      background-color: $color-button;
      color: white;
      padding: 10px 20px;
      border: 1px solid $color-border;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: $color-hover;
      }
    }
  }
}

@media (max-width: 768px) {
  .paiement {
    padding: 20px;

    .navigation-buttons {
      flex-direction: column;
      gap: 15px;
    }
  }
}
